
body {
    background-color: rgba(2, 158, 158, 0.712);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

.section-central{
    background-color: white;
    width: 500px;
    border-radius: 5px;
    margin: auto;
    text-align: left;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.336);   
}

.select-lista{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
}